node_modules/
.nx/
coverage/
dist/
*.tsbuildinfo

apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/.metadata
apps/mobile/build/
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/android/.gradle/

infra/supabase/.branches/
infra/supabase/.temp/

.DS_Store
.env
.env.local
.env.*.local
